### Aula: Introdução Numpy

In [5]:
import numpy as np
# Biblioteca de Arrays (Diferente das listas, é que dentro dele há apenas um tipo de dado)

In [6]:
arr_zeros = np.zeros(10)  # Array de 0
print(arr_zeros)

# Os arrays tem comportamentos muito semelhantes aos das listas de python

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [7]:
mt_zeros = np.zeros((5, 3))  # Matriz de 0

print(mt_zeros)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [9]:
## Notas de alunos
lista_de_notas = [9.8, 2, 8, 3.5, 6.7]
notas = np.array(lista_de_notas)

In [11]:
print(f'Máximo: {notas.max()}')
print(f'Mínimo: {notas.min()}')
print(f'Desvio Padrão: {notas.std()}')
print(f'Media: {notas.mean()}')
print(f'Posição Menor: {notas.argmin()}')

Máximo: 9.8
Mínimo: 2.0
Desvio Padrão: 2.8698432012916664
Media: 6.0
Posição Menor: 1

### Aula: Máscara Booleana

In [13]:
is_covid_positive = np.array(['Yes', 'No', 'No', 'Yes', 'No', 'Yes'])

In [15]:
mask = (is_covid_positive == 'Yes')
print(mask)

[ True False False  True False  True]

In [16]:
print(is_covid_positive[mask])

['Yes' 'Yes' 'Yes']

In [17]:
is_covid_positive[mask] = 'C19'
print(is_covid_positive)

['C19' 'No' 'No' 'C19' 'No' 'C19']

In [ ]:
# Dessa forma conseguimos fazer uma espécie de máscara para determinarmos
# os itens que iremos querer alterar, ou exibir

### Aula: Pandas Series

In [8]:
import pandas as pd

In [ ]:
# Series é uma especie de lista, que pode funcionar também como dicionário,
# Conseguimos várias informações diante esse tipo de dado

In [21]:
lista = [12, 45, 21, 92, 102, 3, 5]
series_pd = pd.Series(lista)
print(series_pd[0])

12

In [23]:
notas = {'Tiago': 8, 'Juca': 9.5, 'Guilherme':6.2}
series_pd = pd.Series(notas)
print(series_pd['Tiago'])

8.0

In [25]:
print(series_pd.median())
print(series_pd.describe())

8.0
count    3.000000
mean     7.900000
std      1.652271
min      6.200000
25%      7.100000
50%      8.000000
75%      8.750000
max      9.500000
dtype: float64

In [26]:
print(series_pd.sum())

23.7

### Aula: Pandas DataFrames

In [2]:
# DataFrames: Equialente a "Tabelas"

In [4]:
dict = {"Autores": ["Rick Rioardan", "J. R. R", "Machado de Assis"],
        "Títulos": ['O Ladrão de Raios', 'A Sociedade do Anel', 'Memórias Postumas'],
        "Preços": [41.2, 35.6, 40]}

In [18]:
# # Criando o DataFrame

df = pd.DataFrame(dict)

In [20]:
df
df['Autores']  # Isso seria uma "serie", logo, há o mesmo comportamento
df['Autores'][1]

'J. R. R'

In [22]:
df['Preços'].mean()

38.93333333333334

In [24]:
mascara = df['Autores'] == 'Rick Rioardan'
print(mascara)

0     True
1    False
2    False
Name: Autores, dtype: bool

In [67]:
df[mascara]  # Dessa forma conseguimos filtrar, e fazer máscaras parecidas a Mascara Booleana do numpy

         Autores            Títulos  Preços
0  Rick Rioardan  O Ladrão de Raios    41.2

In [69]:
df

            Autores              Títulos  Preços
0     Rick Rioardan    O Ladrão de Raios    41.2
1           J. R. R  A Sociedade do Anel    35.6
2  Machado de Assis    Memórias Postumas    40.0

In [101]:
dict2 = {'Autores': ['Rick Riordan'], 'Títulos': ['A Maldicão do Tita'], "Preços": [45]}
df2 = pd.DataFrame(dict2)
df = pd.concat([df, df2])

In [105]:
mascara_correcao = df['Títulos'] == 'A Maldicão do Tita'  # Filtro

In [107]:
df.loc[mascara_correcao, 'Títulos'] = 'A Maldição do Tita'  # Alterando o dado

In [109]:
df

            Autores              Títulos  Preços
0     Rick Rioardan    O Ladrão de Raios    41.2
1           J. R. R  A Sociedade do Anel    35.6
2  Machado de Assis    Memórias Postumas    40.0
0      Rick Riordan   A Maldição do Tita    45.0